# Ignore node_modules (sudah termasuk dalam package.json)
node_modules

# Ignore file konfigurasi lokal (contoh: .env)

# Ignore file yang dihasilkan oleh editor atau sistem operasi
.vscode
.DS_Store
Thumbs.db
